lmht.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="lmht">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="cabeca"></xs:element>
                    <xs:element name="cabeça"></xs:element>
                </xs:choice>
                <xs:element name="corpo"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>